.searchbar {
  margin-bottom: auto;
  margin-top: 30px;
  height: 60px;
  background-color: #363636;
  border-radius: 30px;
  padding: 10px;
}

.search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 380px;
  caret-color: red;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 10px;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: white;
  color: #e74c3c;
  text-decoration: none;
}
