#personalForm .control-label {
  top: 10px;
  font-size: 11px;
  line-height: 1.07143;
  font-weight: bold;
  color: rgb(116, 111, 111);
}
#personalForm .form-control {
  border: 1px solid rgb(37, 95, 52);
}
