.body,
html {
  height: 100%;
}

.register {
  background-image: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: absolute;
}
.primary-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;

  background: rgba(0, 0, 0, 0.8);
}

.register form input {
  box-shadow: -2px -22px 20px 1px rgba(0, 0, 0, 0.61);
}
